doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/cbsmartlife-ca1e5/us-central1/widgets/css/style.css")
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    title
  body(onload="myFunc()")
    include ./nav.jade
    if isLoggedin
      h1 Login
      
    else
      h1 logout
  script(type="text/javascript").
    function myFunc() {
      console.log(document.cookie);  
    }
    
  
